body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* NEED TO DECIDE WEATHER TO USE DARK OR LIGHT COLOR GRADIENT CHOICES */
  /* background-image: linear-gradient(#3c3b3f, #605c3c); */
  background-image: linear-gradient(to top, #4741bf, #b08efb);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* min-height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-out-button {
  position: absolute;
  right: 20px;
  bottom: 14px;
  width: 90%;
  height: 45px;

  /* current margin setting looks good on full screen but not on mobile */
  margin-left: -30px;

  background-color: #cad3fc;

  font-size: 20pt;
  border-radius: 5px;

  font-family: 'Patrick Hand', cursive;

}

.login-out-button:hover {
  cursor: pointer;
  background-color: #b08efb;
  /* color: white; */
  /* font-weight: bold; */
}

.login-out-button:active {
  transform: translate(1);
}

.burger {
  font-size: 38pt;
  border: none;
  color: #cad3fc;
  background-color: #b18efb00;
}

.burger:hover {
  cursor: pointer;
  background-color: #b18efb00;
  color: #cad3fc;
  font-size: 40pt;
}

/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */